html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   

:root {
    --blue: #C6DEF1;
    --yellow: #FAEDCB;
    --dark: #394648;
    --light: #ECECEC;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 3.5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-margin-top: 100px;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
}

.section-title {
    margin-left: 3rem;
    white-space: normal;
}

mark {
    display: inline-block;
    background-color: var(--yellow);
    line-height: 0em;
    padding-bottom: 0.5em;
}


/* Navigation */

nav {
    position: fixed;
    width: 100%;
    transition: background-color 0.7s ease;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 3.125rem;
}

nav img {
    height: 64px;
    width: 64px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.7s ease;
}


/* Collapsed menu */

#burger-menu {
    display: none;
    cursor: pointer;
    z-index: 99;
    outline: none;
    border: none;
    background-color: transparent;
}

#burger-menu:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-top: 6px;
    transition: 0.4s;
    border-radius: 10px;
}

#close-menu {
    cursor: pointer;
}

#close-menu:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.cross-bar {
    width: 30px;
    height: 4px;
    background-color: var(--light);
    margin-top: 6px;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 6px;
}

.cross-1 {
    transform: rotate(45deg) translate(7px, 7px);
}

.cross-2 {
    transform: rotate(-45deg) 
}

#collapse-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: fit-content;
    width: 100vw;
    background-color: #333333;
    z-index: 99;
}

#collapse-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.collapse {
    color: var(--light) !important;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none; 
    }

    #burger-menu {
        display: block; 
    }
}


/* Footer */

footer {
    margin-top: 50px;
    background-color: var(--blue);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 7px;
}

.social-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: transform 0.2s;
    left: 0;
}

.social-icon, .contact-icon {
    height: 25px;
    width: 25px;
    margin: 10px;
}

.social-link:hover, .social-link:focus {
    transform: scale(1.1);
}

.contact {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: transform 0.2s;
}

.contact:hover, .contact:focus {
    transform: scale(1.1);
}