@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .div-pic {
        max-width: 400px !important;
    }

    .intro {
        gap: 0px !important;
        margin-top: 30px !important;
    }

    .presentation-title {
        margin-bottom: 0px !important;
    }

    #sky {
        height: calc(100vh + 40px) !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1124px) {
    .intro {
        gap: 20px !important;
        /* margin-top: 85px !important; */
    }

    .presentation-title {
        margin-bottom: 0px !important;
    }

    .div-pic {
        max-width: 500px !important;
    }

    #sky {
        height: calc(100vh + 180px) !important;
    }
}

@media screen and (min-width: 1440px) {
    #triangle {
        border-right: 2000px solid transparent !important;
    }
}


/* Pause button */

#btn-pause {
    top: 70px;
    left: 20px;
    z-index: 99;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-size: 1em;
}

#btn-pause:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

#pause-icon {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}


/* Sky presentation */

#sky {
    background-color: var(--blue);
    /* min-height: 100vh;
    height: auto; */
    height: calc(100vh + 100px);
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

.intro {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 80px;
    padding: 0px 5% 0px 5%;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 90;
}

.presentation-title {
    margin: auto;
}

.quick-links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
}

.quick-links a {
    width: fit-content !important;
}

.big-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.big-icon:hover {
    transform: scale(1.1);
}

.div-pic {
    position: relative;
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 600px;
    margin: auto;
}

.pic {
    user-select: none;
    width: 100%;
    height: 100%;
}


/* Clouds */

.cloud {
    position: absolute;
    animation: cloud 50s linear; /* randomize by js */
    right: -500px;
    user-select: none;
    z-index: 1;
}

@keyframes cloud {
    0% {
        right: -500px;
    }

    100% {
       right: 100vw;
    }
}

.paused {
    animation-play-state: paused;
}

#triangle {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 100px solid var(--blue);
    border-right: 100vw solid transparent;
}


/* Post-it about */

.about-me {
    margin: auto;
    margin: 40px 2% 60px 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.post-it {
    position: relative;
    height: 100%;
    flex-basis: 600px;
    max-width: 900px;
    flex-grow: 1;
}

.paragraph-about {
    background-color: var(--dark);
    width: calc(100% - 94px);
    margin: auto;
}

.paragraph-about p {
    color: var(--light);
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    padding: 30px 50px;
}

.scotchs {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    pointer-events: none;
}

.scotch {
    width: 130px;
    height: 35px;
    background-color: rgba(198, 222, 241, 0.70);
    position: absolute;
}

.scotch-1, .scotch-3 {
    transform: rotate(135deg);
}

.scotch-2, .scotch-4 {
    transform: rotate(-135deg);
}

.scotch-1, .scotch-2 {
    top: -15px;
}

.scotch-3, .scotch-4 {
    bottom: -15px;
}

.scotch-1, .scotch-4 {
    left: 0;
}

.scotch-2, .scotch-3 {
    right: 0;
}


/* Venn diagram */

.venn-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.venn {
    max-width: 400px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}


/* Projects */

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px); /* 300px de largeur + 30px de marge */
    gap: 55px 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.project-link {
    text-decoration: none;
    color: var(--light);
    width: 300px;
    height: 450px;
    margin: auto;
}

.project {
    width: 300px;
    height: 450px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
}

.project:hover {
    transform: scale(1.04);
}

.vertical-scotch {
    transform: rotate(90deg);
    width: 80px !important;
    top: 0;
    left: 50%;
    margin-left: -40px;
    margin-top: -20px;
}

.icon-project {
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.description-project {
    padding: 10px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.techno {
    display: flex;
    flex-direction: row;
}

.techno img {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.info-box {
    display: none; 
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -100%;
    left: 20px;
}

.techno-box {
    position: relative;
}

.techno-box:hover .info-box,
.techno-box:focus .info-box {
    display: block; 
}