nav {
    background-color: #333333 !important;
    top: 0;
}

.nav-link {
    color: var(--light) !important;
}

.bar {
    background-color: var(--light) !important;
}

main {
    margin-top: 100px;
    padding: 2%;
}

.headline {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .headline {
        width: 100%;
    }

    .description {
        width: 100%;
        transform: translateX(0) !important;
    }

    .long-description {
        width: 100%;
    }

    .wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.subtitle {
    color: var(--darkBlue);
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.description {
    width: 50%;
    margin: auto;
    transform: translateX(-20%);
    margin-top: 20px;
    font-size: 1.2rem;
}

.overview {
    margin: auto;
    margin-top: 50px;
}

.screens-div {
    max-width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screens {
    width: 90%;
    border-radius: 5px;
}

.infos-div {
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    gap: 30px;
    width: 80%;
}

.infos-div div {
    flex: 1;
    min-width: 200px;
}

.long-description {
    padding: 5% 10% 5% 10%;
}

.wrapper {
    margin-top: 50px !important;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 90%;
}

.wrapper img {
    min-width: 250px;
    margin: auto;
}

.wrapper p {
    height: fit-content;
}

.wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

figure img {
    width: 100% !important;
}

figcaption {
    text-align: center;
    font-size: 0.9rem;
    color: black
}

.skills {
    margin: auto;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
    width: 100%;
}

.skill {
    padding: 3px 12px;
    border-radius: 25px;
    background-color: var(--dark);
    color: var(--light);
    white-space:nowrap;
}