html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

html {
    overflow-x: hidden;
}

:root {
    --blue: #C6DEF1;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 3.5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#full-height {
    height: 100%;
    width: 100%;
    background-color: var(--blue);
}

nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    transition: background-color 0.7s ease;
    z-index: 100;
}

.content-navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 64px;
    width: 64px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: w400;
    transition: color 0.7s ease;
}

#btn-pause {
    top: 70px;
    left: 20px;
    z-index: 90;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

#btn-pause:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

#pause-icon {
    width: 40px;
    margin-right: 3px;
}

#sky {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.presentation-title {
    z-index: 90;
}

.pic {
    width: 40%;
    user-select: none;
    z-index: 90;
}

.cloud {
    position: absolute;
    animation: cloud 50s linear; /* randomize by js */
    right: -500px;
    user-select: none;
    z-index: 1;
}

@keyframes cloud {
    0% {
        right: -500px;
    }

    100% {
       right: 100vw;
    }
}

.paused {
    animation-play-state: paused;
}

#triangle {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 100px solid var(--blue);
}

.body-page {
    height: 500px;
}