html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   

:root {
    --blue: #C6DEF1;
    --yellow: #FAEDCB;
    --dark: #394648;
    --light: #ECECEC;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 3.5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-margin-top: 100px;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
}

nav {
    position: fixed;
    width: 100%;
    transition: background-color 0.7s ease;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 3.125rem;
}

nav img {
    height: 64px;
    width: 64px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.7s ease;
}

#burger-menu {
    display: none;
    cursor: pointer;
    z-index: 99;
    outline: none;
    border: none;
    background-color: transparent;
}

#burger-menu:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-top: 6px;
    transition: 0.4s;
    border-radius: 10px;
}

#close-menu {
    cursor: pointer;
}

#close-menu:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

.cross-bar {
    width: 30px;
    height: 4px;
    background-color: var(--light);
    margin-top: 6px;
    transition: 0.4s;
    border-radius: 10px;
    margin-bottom: 6px;
}

.cross-1 {
    transform: rotate(45deg) translate(7px, 7px);
}

.cross-2 {
    transform: rotate(-45deg) 
}

#collapse-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: fit-content;
    width: 100vw;
    background-color: #333333;
    z-index: 99;
}

#collapse-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.collapse {
    color: var(--light) !important;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none; 
    }

    #burger-menu {
        display: block; 
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .div-pic {
        max-width: 90% !important;
    }

    .intro {
        /* top: 80px !important; */
        gap: 0px !important
    }
}

@media screen and (min-width: 768px) and (max-width: 1124px) {
    .intro {
        /* top: 260px !important; */
        gap: 20px !important;
    }

    .presentation-title {
        margin-top: 70px !important;
    }

    .div-pic {
        max-width: 50% !important;
    }
}

#btn-pause {
    top: 70px;
    left: 20px;
    z-index: 99;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    font-size: 1em;
}

#btn-pause:focus {
    outline: 5px auto -webkit-focus-ring-color;
}

#pause-icon {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

#sky {
    background-color: var(--blue);
    min-height: 100vh;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    top: 0;
}

.intro {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 80px;
    padding: 0px 5% 0px 5%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.presentation-title {
    z-index: 90;
    /* margin-top: 100px !important; */
    margin: auto;
    /* height: fit-content; */
}

.div-pic {
    position: relative;
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 45%;
    z-index: 90;
    margin: auto;
}

.pic {
    user-select: none;
    width: 100%;
    height: 100%;
}

.cloud {
    position: absolute;
    animation: cloud 50s linear; /* randomize by js */
    right: -500px;
    user-select: none;
    z-index: 1;
}

@keyframes cloud {
    0% {
        right: -500px;
    }

    100% {
       right: 100vw;
    }
}

.paused {
    animation-play-state: paused;
}

#triangle {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 100px solid var(--blue);
    border-right: 100vw solid transparent;
}

.body-page {
    height: 500px;
}

.section-title {
    margin-left: 10%;
}

mark {
    display: inline-block;
    background-color: var(--yellow);
    line-height: 0em;
    padding-bottom: 0.5em;
}

.about-me {
    margin: auto;
    margin: 30px 2% 20px 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.post-it {
    position: relative;
    height: 100%;
    flex-basis: 600px;
    max-width: 900px;
    flex-grow: 1;
}

.paragraph-about {
    background-color: var(--dark);
    width: calc(100% - 94px);
    margin: auto;
}

.paragraph-about p {
    color: var(--light);
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    padding: 30px 50px;
}

.scotchs {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    pointer-events: none;
}

.scotch {
    width: 130px;
    height: 35px;
    background-color: rgba(198, 222, 241, 0.70);
    position: absolute;
}

.scotch-1, .scotch-3 {
    transform: rotate(135deg);
}

.scotch-2, .scotch-4 {
    transform: rotate(-135deg);
}

.scotch-1, .scotch-2 {
    top: -15px;
}

.scotch-3, .scotch-4 {
    bottom: -15px;
}

.scotch-1, .scotch-4 {
    left: 0;
}

.scotch-2, .scotch-3 {
    right: 0;
}

.venn-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.venn {
    max-width: 400px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px); /* 300px de largeur + 30px de marge */
    gap: 35px 30px;
    margin-top: 50px;
    justify-content: center;
    /* margin-right: 25px;
    margin-left: 25px; */
}

.project {
    width: 300px;
    height: 450px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
}

.project:hover, .project:focus {
    transform: scale(1.04);
}

.vertical-scotch {
    transform: rotate(90deg);
    width: 80px !important;
    top: 0;
    left: 50%;
    margin-left: -40px;
    margin-top: -20px;
}

.icon-project {
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}

.description-project {
    padding: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.techno {
    display: flex;
    flex-direction: row;
}

.techno img {
    height: 30px;
    width: 30px;
    margin: 3px 5px 3px 5px;
}

.info-box {
    display: none; 
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: -100%;
    left: 20px;
}

.techno-box {
    position: relative;
}

.techno-box:hover .info-box,
.techno-box:focus .info-box {
    display: block; 
}

/* TO-DO: on tap on mobile show name of techno */

.footer {
    margin-top: 50px;
    background-color: var(--blue);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 7px;
}

.center {
    text-align: center;
}

.div-footer p {
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;
}

.social-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: transform 0.2s;
    left: 0;
}

.social-icon, .contact-icon {
    height: 25px;
    width: 25px;
    margin: 10px;
}

.social-link:hover, .social-link:focus {
    transform: scale(1.1);
}

.contact {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    transition: transform 0.2s;
}

.contact:hover, .contact:focus {
    transform: scale(1.1);
}